@charset "UTF-8";

html, body, #content, article, #container, .entry-content {
    height: 100%;
}

#author {
    text-align: center;
    position: relative;
    top: 5em;
    z-index: 0;
}

#author_name {
    font-size: 3.5em;
}

#author_short {
    font-size: 2.0em;
}

#author_media {
    padding-top: 1em;
}

#author_media > a {
    padding: 0 0.2em;
    color: #FF8347;
}

@media (max-width: 32em) {
    #author {
        top: 30%;
        transform: translate(0, -30%);
    }
}

@media (max-width: 20em) {
    #author {
        top: 30%;
        transform: translate(0, -30%);
    }

    #author_short {
        font-size: 2.0em;
    }

    .author_sep {
        visibility: hidden;
        display: block;
        height: 1px;
    }

    .author_sep_hor {
        display: block;
        height: 2px;
        background: #666666;
        width: 40%;
        margin: 0 auto;
    }

    #author_name {
        font-size: 3.0em;
    }
}

