@charset "UTF-8";

#content {
    padding-top: 1em;
}

#about > img {
    float: left;
    margin: 0em 1em 1em 0em;
}

#projects {
    display: table;
}

.project {
    float: left;
    margin-bottom: 4em;
}

.project > img {
    width: 11em;
    float: left;
    margin-right: 2em;
}

.project > div {
    width: calc(100% - 13em);
    float: right;
}

.project > div > h2{
    margin-top: 0;
}

@media (max-width: 32em) {
    .project > img {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .project > div {
        margin-top: 1em;
        width: 100%;
        float: none;
    }
}

@media (max-width: 20em) {
    .project > img {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .project > div {
        margin-top: 1em;
        width: 100%;
        float: none;
    }
}

