@charset "UTF-8";

body {
	color: #F8F8F2;
    font-family: 'Roboto', sans-serif;
	font-size: 17px;
    margin: 0;
    background-color: #404040;
}

#header {
    /*overflow: hidden;*/
	padding: 0em;
    position: fixed;
    background-color: #272822;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em 0.5em;
}

#container {
    padding: 4em 0.5em;
    padding-bottom: 0em;
	margin: 0 auto;
	max-width: 45em;
    padding-left: 0.5em;
    bottom: 0;
}

#brand {
	font-size: 2em;
    float: left;
}

#brand :link,
#brand :visited {
	color: inherit;
    text-decoration: none;
}

#menu ul {
    list-style-type: none;
    top: 0;
    float: right;
    /* width: 100%; */
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    text-align: center;
}

#menu li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 0.8em 0.8em;
    text-decoration: none;
}

#menu li a:hover {
    color: #47e3ff;
}

#brand a:hover {
    color: #47e3ff;
}

#about {
    padding-top: 3em;
}

#about > img {
    float: left;
    padding: 1em 1em 1em 0em;
}

#projects {
    display: table;
}

.project {
    float: left;
}

.project > img {
    padding-top: 1.5em;
    width: 11em;
    float: left;
    margin-right: 2em;
}

.project > div {
    width: calc(100% - 13em);
    float: right;
    padding-bottom: 2em;
}

#author {
    padding-top: 6em;
    text-align: center;
}

#author_name {
    font-size: 5em;
}

#author_short {
    font-size: 1.5em;
}

#author_media {
    padding-top: 1em;
}

#author_media > a {
    padding: 0 0.2em;
    color: #FF8347;
}

@media (max-width: 32em) {
    #header {
        text-align: center;
        padding: 0.5em 0.5em;
    }
    #brand {
        float: none;
    }
    #menu ul {
        text-align: center;
        margin: 0 auto;
        float: none;
    }
    #menu li {
        font-size: 24px;
    }
    #menu li a {
        padding: 0.68em 0.6em;
    }
    #container {
        padding-top: 7em;
    }

    .project > img {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .project > div {
        width: 100%;
        float: none;
    }

    #author {
        padding-top: 0em;
    }

    #about {
        padding-top: 0em;
    }
}

.postpromonav .tags,
.postpromonav .tags li,
.pager,
.pager li,
#toptranslations ul,
#toptranslations ul li {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
}

#toptranslations ul {
	display: inline;
}

#toptranslations ul li {
	display: inline-block;
	margin-right: 1.5em;
}

#toptranslations h2 {
	display: inline;
	font-size: 1em;
	margin-right: 1.5em;
}

#toptranslations ul li:dir(rtl),
#toptranslations h2:dir(rtl) {
	margin-left: 1.5em;
	margin-right: 0;
}

#toptranslations {
	text-align: right;
	float: right;
}

#toptranslations:dir(rtl) {
	text-align: left;
	float: left;
}

.posttranslations h3, .translationslist h3 {
	display: inline;
	font-size: 1em;
}

.entry-title {
	font-size: 2em;
}

.posttranslations h3:last-child, .translationslist h3:last-child {
	display: none;
}

.postindex article {
	border-bottom: 1px solid #4F5151;
	padding-bottom: 1em;
}
#footer {
	border-top: 1px solid #4F5151;
}

/* Tags */
.postpromonav {
	border-bottom: 1px solid #4F5151;
	border-top: 1px solid #4F5151;
	margin-top: 1em;
	padding: .5em 0;
}
.postpromonav .tags {
	text-align: center;
}
.metadata p:before,
.postpromonav .tags li:before,
.postlist .listdate:after,
.translationslist p:before {
	content: " — ";
}
.postlist li {
	margin-bottom: .33em;
}

/* Post and archive pagers */
.postindexpager .pager .next:before {
	content: "↓ ";
}
.postindexpager .pager .previous:before,
.archivenav .pager .up:before {
	content: "↑ ";
}
.postpromonav .pager .next:after,
.archivenav .pager .next:after {
	content: " →";
}
.postpromonav .pager .previous:dir(rtl):after,
.archivenav .pager .previous:dir(rtl):after {
	content: " →";
}
.postpromonav .pager .previous:before,
.archivenav .pager .previous:before {
	content: "← ";
}
.postpromonav .pager .next:dir(rtl):before,
.archivenav .pager .next:dir(rtl):before {
	content: "← ";
}

.metadata p:first-of-type:before,
.postpromonav .tags li:first-of-type:before,
.translationslist p:first-of-type:before {
	content: "";
}
.postpromonav .pager {
	clear: both;
	height: 1em;
}
.postpromonav .tags li,
.postpromonav .pager li,
.archivenav .pager li {
	display: inline-block;
}
.archivenav .pager {
	text-align: center
}
.postpromonav .pager .next,
.archivenav .pager .next {
	float: right;
}
.postpromonav .pager .next:dir(rtl),
.archivenav .pager .next:dir(rtl) {
	float: left;
}

.postpromonav .pager .previous,
.archivenav .pager .previous {
	float: left;
}
.postpromonav .pager .previous:dir(rtl),
.archivenav .pager .previous:dir(rtl) {
	float: right;
}

.archivenav .pager .disabled,
.archivenav .pager .disabled a,
.archivenav .pager .disabled:link {
    color: #888;
    cursor: not-allowed;
}

.metadata p,
.translationslist p {
	display: inline;
}

/* Links */
:link {
	color: #47e3ff;
	text-decoration: none;
}
:visited {
	color: #FF8347;
}
:link:hover, :visited:hover {
    text-decoration: underline;
}

/* Images */
img {
	border: none;
	line-height: 1;
}

.postpage img,
.postpage object,
.postindex article img,
.postindex article object {
	height: auto;
	max-width: 100%;
}

/* Comment helpers */
#disqus_thread {
	min-height: 325px;
}

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
}

.breadcrumb > li {
	display: inline-block;
	margin-right: 0;
	margin-left: 0;
}

.breadcrumb > li:after {
	content: ' / ';
	color: #888;
}

.breadcrumb > li:last-of-type:after {
	content: '';
	margin-left: 0;
}

.thumbnails {
	list-style: none;
	padding: 0;
}

.thumbnails > li {
	display: inline-block;
	margin-right: 10px;
}

.thumbnails > li:last-of-type {
	margin-right: 0;
}

.codetable .linenos {
	padding-right: 10px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

pre.code, code {
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
}

/* SOURCE: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
		font-family: Garamond, Junicode, serif;
	}

	body {
		font-size: 12pt;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="data:"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	.hidden-print {
		display: none !important;
	}

	article .entry-title a[href]:after,
	article .metadata a[href]:after,
	article .tags a[href]:after {
		content: "";
	}

	article .metadata .sourceline {
		display: none;
	}

	article .metadata .linkline a[href]:after {
		content: " (" attr(href) ")";
	}

	#header {
		display: none;
	}

	.postpromonav {
		padding: 0;
	}
}
